<html>

<head>
    <title>Liberdus Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/56c4ec9bc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <section id="cycle-detail-page">
        <%- include('header'); -%>

        <section class="main-section">
            <div class="siimple-breadcrumb">
                <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/`">Home</a></div>
                <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/cycle`">Cycles</a></div>
                <div class="siimple-breadcrumb-item" v-if="cycle">{{ cycle.counter }}</div>
            </div>
            <div class="cycle-detail-title" v-if="cycle">
                <h1 class="siimple-h3 page-title" v-if="cycle">Cycle {{ cycle.counter }}</h1>
                <div>
                    <div @click="goPreviousCycle" class="siimple-btn siimple-btn--grey"> <i class="fas fa-chevron-left"></i></div>
                    <div @click="goNextCycle" class="siimple-btn siimple-btn--grey"> <i class="fas fa-chevron-right"></i></div>
                   
                </div>
            </div>
            <div class="siimple-grid cycle-detail-table" v-if="cycle">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong> Network ID</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8 hash-text">
                        {{ cycle.networkId || '-' }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Cycle Marker</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8 hash-text">
                        {{ cycle.marker || '-' }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong> Network State Hash</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8 hash-text">
                        {{ archivedCycle?.data?.networkHash || '-' }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Cycle Start Time</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                        {{ new Date(cycle.start * 1000) }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Cycle Duration (seconds)</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                        {{ cycle.duration }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Number of Active Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                        {{ cycle.active }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Number of Syncing Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                        {{ cycle.syncing }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Expired Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                        {{ cycle.expired }}
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Removed Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                        <div v-if="cycle.removed.length > 0">
                            <div v-for="node in cycle.removed" :key="node.id">
                                <p class="hash-text">{{ node.publicKey }}</p>
                            </div>
                        </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Returned Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.returned" :key="node.id">
                                <p class="hash-text">{{ node.publicKey }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Lost Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.lost" :key="node.id">
                                <p class="hash-text">{{ node.publicKey }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Joined Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.joinedConsensors" :key="node.id">
                                <p class="hash-text">{{ node.publicKey }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>

                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Activated Nodes</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.activated" :key="node">
                                <p class="hash-text">{{ node }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Activated Public Keys</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.activatedPublicKeys" :key="node">
                                <p class="hash-text">{{ node }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>

                    </div>
                </div>

                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Refreshed Archivers</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.refreshedArchivers" :key="node.id">
                                <p class="hash-text">{{ node.publicKey }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>
                    </div>
                </div>

                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Refreshed Concensors</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8">
                            <div v-for="node in cycle.refreshedConsensors" :key="node.id">
                                <p class="hash-text">{{ node.publicKey }}</p>
                            </div>
                        <div v-else>
                            <p class="hash-text">-</p>
                        </div>

                    </div>
                </div>

                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <strong>Partition Blocks</strong>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8" id="partition-block-list">
                        <div v-for="(item, key, index) in archivedCycle?.receipt?.partitionMaps" :key="key">
                            <a
                                :href="`${urlPrefix}/partition?cycle=${cycle.counter}&partition=${key}`">
                                <div class="partition-table-row">
                                    <div>Partition: {{ key }}</div>
                                    <div>{{ Object.keys(archivedCycle.receipt.partitionMaps[key]).length }} Transactions</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('footer'); -%>
    </section>

    <script src="../public/js/index.js"></script>
    <script>
        loadCycleDetailPage(Vue)
    </script>
</body>

</html>