<html>

<head>
    <title>Liberdus Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css" />
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <section id="all-cycles-page">
        <%- include('header'); -%>
        <section class="main-section">
            <div class="siimple-breadcrumb">
                <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/`">Home</a></div>
                <div class="siimple-breadcrumb-item">Cycles</div>
            </div>
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <h4 class="siimple-h4 page-title">All Cycles</h4>
                        <div class="siimple-list siimple-list--hover all-cycles-container">
                            <a :href="`${urlPrefix}/cycle/${cycle.counter}`" v-for="cycle in cycles"
                                :key="cycle.counter">
                                <div class="siimple-list-item">
                                    <div>
                                        {{ cycle.counter }}
                                    </div>
                                    <div>
                                        {{moment(cycle.start* 1000).calendar() }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <section class="pagination" v-if="page">
                <a v-if="page >= 2" :href="`${urlPrefix}/cycle?page=${page - 1}`" class="siimple-link">
                    < Prev</a>
                        <a v-if="page >= 3" :href="`${urlPrefix}/cycle?page=${page - 2}`"
                            class="siimple-link">{{ page - 2 }}</a>
                        <a v-if="page >= 2" :href="`${urlPrefix}/cycle?page=${page - 1}`"
                            class="siimple-link">{{ page - 1 }}</a>
                        <a href="#" class="siimple-link current-page">{{ page }}</a>
                        <a v-if="page < totalPages" :href="`${urlPrefix}/cycle?page=${page + 1}`" class="siimple-link">{{ page + 1 }}</a>
                        <a v-if="page + 1 < totalPages" :href="`${urlPrefix}/cycle?page=${page + 2}`" class="siimple-link">{{ page + 2 }}</a>
                        <a v-if="page < totalPages" :href="`${urlPrefix}/cycle?page=${page + 1}`" class="siimple-link">Next ></>
            </section>
        </section>

        <%- include('footer'); -%>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="public/js/index.js"></script>
    <script>
        loadCyclePage(Vue)
    </script>
</body>

</html>