<div class="siimple-navbar siimple-navbar--primary siimple-navbar--fluid">

    <a class="siimple-navbar-title" href="/explorer">
        <img src="https://liberdus.com/img/banner/2.png" alt="" width="30">
    </a>
    <a class="siimple-navbar-title" href="/explorer">Liberdus</a>
    <a class="siimple-navbar-subtitle" href="/explorer">explorer</a>
    <div class="siimple--float-right">
        <!-- <a class="siimple-navbar-item">Setting</a> -->
        <!-- <a href="/" target="_blank">
            <img src="https://liberdus.com/img/banner/2.png" alt="" width="30">
        </a> -->
    </div>
</div>