<html>

<head>
    <title>Liberdus Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css" />
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <script src="public/js/vue.js"></script>
</head>

<body>
    <section id="homepage">
        <%- include('header'); -%>
        <section class="main-section">
            <section class="search-section siimple-grid-row">
                <!-- <select class="siimple-grid-col siimple-grid-col--2 siimple-select">
                    <option selected>All Filters</option>
                    <option>Address</option>
                    <option>Alias</option>
                    <option>Tx Hash</option>
                </select> -->

                <div class="siimple-field siimple-grid-col siimple-grid-col--10">
                    <input type="text" class="siimple-input siimple-input--fluid"
                        placeholder="Search by transaction ID" v-model="searchQuery" @keyup="onEnterTxId">
                </div>

                <div class="siimple-btn siimple-btn--primary siimple-grid-col siimple-grid-col--2" @click="onSubmitSearch">Search</div>
                <div class="siimple-modal siimple-modal--medium" id="modal" style="display:none;">
                    <div class="siimple-modal-content">
                        <div class="siimple-modal-header">
                            <div class="siimple-modal-header-title">Not Found!</div>
                            <div class="siimple-modal-header-close" id="modal-close"></div>
                        </div>
                        <div class="siimple-modal-body">
                            Transaction ID <strong>{{ searchQuery }}</strong> is not found in the network.
                        </div>
                        <!-- <div class="siimple-modal-footer">
                            Modal footer
                        </div> -->
                    </div>
                </div>

            </section>
            <section class="statistic-section">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <div class="statistic-label">Total Cycles</div>
                        <div v-if="cycles.length > 0">{{ cycles[0].counter }}</div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <div class="statistic-label">Total Transactions</div>
                        <div>{{ totalTxs }}</div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <div class="statistic-label">Total Accounts</div>
                        <div>{{ totalAccounts }}</div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <div class="statistic-label">Active Nodes</div>
                        <div>{{ activeNodes }}</div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <div class="statistic-label">Total Node Rewards</div>
                        <div>{{ summary.txs.node_reward }}</div>

                    </div>
                    <div class="siimple-grid-col siimple-grid-col--4">
                        <div class="statistic-label">Total Supply</div>
                        <div v-if="totalSupply > 0">{{ totalSupply.toFixed(3) }}</div>
                        <div v-else>0</div>
                    </div>
            </section>
            <div class="">
                <div class="latest-data-container">
                    <div class="latest-cycles-container">
                        <h4 class="siimple-h4">Latest Cycles</h4>
                        <div class="siimple-list siimple-list--hover">
                            <a :href="`${urlPrefix}/cycle/${cycle.counter}`" v-for="cycle in cycles"
                                :key="cycle.counter">
                                <div class="siimple-list-item">
                                    <div>
                                        {{ cycle.counter }}
                                    </div>
                                    <div>
                                        {{moment(cycle.start* 1000).calendar() }}
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a :href="`${urlPrefix}/cycle`">
                            <div class="siimple-btn siimple-btn--grey siimple-btn--fluid">
                                View All Cycles
                            </div>
                        </a>
                    </div>
                    <div class="latest-txs-container">
                        <h4 class="siimple-h4">
                            Latest Transactions
                        </h4>
                        <div class="siimple-list siimple-list--hover">

                            <a :href="`${urlPrefix}/partition?cycle=${tx.cycle}&partition=${tx.partition}`" v-for="tx in txs" :key="tx.id">
                                <div class="siimple-list-item">
                                    <div>{{ tx.txId }}</div>
                                    <div>{{ tx.status[0] }}</div>
                                </div>
                            </a>
                        </div>

                        <a :href="`${urlPrefix}/transaction`">
                            <div class="siimple-btn siimple-btn--grey siimple-btn--fluid">
                                View All Transactions
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <%- include('footer'); -%>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="public/js/index.js"></script>
    <script>
        loadHomePage(Vue)
    </script>
</body>

</html>