<html>

<head>
    <title>Liberdus Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <%- include('header'); -%>
    <section class="main-section" id="cycle-detail-page">
        <div class="siimple-breadcrumb" v-if="archivedCycle">
            <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/`">Home</a></div>
            <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/cycle`">Cycles</a></div>
            <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/cycle/${cycle}`">{{ cycle }}</a>
            </div>
            <div class="siimple-breadcrumb-item">Partition {{ partition }}</div>
        </div>
        <h1 class="siimple-h3 page-title" v-if="archivedCycle">Cycle {{ cycle }} | Partition {{ partition }}</h1>

        <div class="siimple-grid partition-table" v-if="archivedCycle">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--4">
                    <strong>Cycle Number</strong>
                </div>
                <div class="siimple-grid-col siimple-grid-col--8">
                    {{ cycle }}
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--4">
                    <strong>Partition ID</strong>
                </div>
                <div class="siimple-grid-col siimple-grid-col--8">
                    {{ partition }}
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--4">
                    <strong>Total Transactions</strong>
                </div>
                <div class="siimple-grid-col siimple-grid-col--8">
                    {{ receipts.length }}
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--4">
                    <strong>Transactions</strong>
                </div>
                <div class="siimple-grid-col siimple-grid-col--8">
                    <div class="partition-table-row" style="margin-bottom: 10px">
                        <div><strong>TxId</strong></div>
                        <div><strong>Status</strong></div>
                    </div>
                    <div v-for="receipt in receipts" class="transactions-container">
                        <div class="partition-table-row">
                            <div class="hash-text">{{ receipt.txid }}</div>
                            <div class="hash-text">{{ receipt.status }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <%- include('footer'); -%>

    <script src="public/js/index.js"></script>
    <script>
        loadPartitionDetailPage(Vue)
    </script>
</body>

</html>