<html>

<head>
    <title>Liberdus Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <section id="all-cycles-page">
        <%- include('header'); -%>
        <section class="main-section">
            <div class="siimple-breadcrumb">
                <div class="siimple-breadcrumb-item"><a :href="`${urlPrefix}/`">Home</a></div>
                <div class="siimple-breadcrumb-item">Transactions</div>
            </div>
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <h4 class="siimple-h4 page-title">All Transactions</h4>
                        <div class="all-tx-list-title">
                            <div>
                                TxId
                            </div>
                            <div style="position: relative; left: 20px">
                                Cycle
                            </div>
                            <div>
                                Partition
                            </div>
                            <div>
                                Status
                            </div>
                        </div>
                        <div class="siimple-list siimple-list--hover all-cycles-container">
                            <a :href="`${urlPrefix}/partition?cycle=${tx.cycle}&partition=${tx.partition}`" v-for="tx in transactions"
                                :key="tx.txId">
                                <div class="siimple-list-item">
                                    <div class="hash-text">
                                        {{ tx.txId }}
                                    </div>
                                    <div>
                                        {{ tx.cycle }}
                                    </div>
                                    <div>
                                        {{ tx.partition }}
                                    </div>
                                    <div class="hash-text">
                                        {{ tx.status[0] }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <section class="pagination" v-if="page">
                <a v-if="page >= 2" :href="`${urlPrefix}/transaction?page=${page - 1}`" class="siimple-link">
                    < Prev</a>
                        <a v-if="page >= 3" :href="`${urlPrefix}/transaction?page=${page - 2}`"
                            class="siimple-link">{{ page - 2 }}</a>
                        <a v-if="page >= 2" :href="`${urlPrefix}/transaction?page=${page - 1}`"
                            class="siimple-link">{{ page - 1 }}</a>
                        <a href="#" class="siimple-link current-page">{{ page }}</a>
                        <a v-if="page < totalPages" :href="`${urlPrefix}/transaction?page=${page + 1}`" class="siimple-link">{{ page + 1 }}</a>
                        <a v-if="page + 1 < totalPages" :href="`${urlPrefix}/transaction?page=${page + 2}`" class="siimple-link">{{ page + 2 }}</a>
                        <a v-if="page < totalPages" :href="`${urlPrefix}/transaction?page=${page + 1}`" class="siimple-link">Next ></a>
            </section>
        </section>

        <%- include('footer'); -%>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="public/js/index.js"></script>
    <script>
        loadAllTxsPage(Vue)
    </script>
</body>

</html>