body {
  /* background: #f3f3f3; */
  /* background: red; */
}
.siimple-navbar--fluid {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.siimple-navbar-title {
  margin-left: 10px;
}
.siimple-navbar-subtitle {
  position: relative;
  top: 2px;
}

.siimple-grid-row {
  margin-left: 0px;
  margin-right: 0px;
}

.siimple-footer--light {
  color: #ffffff;
  background-color: #4e91e4;
  height: 30px !important;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.hash-text {
  font-family: 'Roboto Mono';
  margin: 0px;
}

.main-section {
  padding: 10px;
  max-width: 900px;
  margin: 20 auto;
  min-height: calc(100vh - 64px - 100px);
}

a {
  text-decoration: none;
  color: #546778;
}

.page-title {
  padding: 10px;
  font-size: 24px;
  margin: 0px;
}

#partition-block-list div {
  margin-bottom: 5px;
}
#partition-block-list div a {
  text-decoration: none;
  color: #4e91e4;
}

.transactions-container {
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 10px;
}
.transactions-container p {
  margin: 5px;
}

.pagination {
  margin: 20px auto;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.pagination > .siimple-link {
  color: #546778;
}
.pagination .current-page {
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  top: -3px;
  color: #1f73da;
}

.statistic-section {
  height: 200px;
  box-shadow: 0px 1px 6px #e8e8e8;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 20px;
}
.statistic-section .siimple-grid-row {
  height: 100px;
  margin: 0 auto;
}
.statistic-section .siimple-grid-row .siimple-grid-col {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  height: 100px;
  width: 33.33%;
  margin: 0 auto;
  display: block;
}
.statistic-section .siimple-grid-row .siimple-grid-col div {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: 15px;
  color: #7b7c7d;
}
.statistic-section .siimple-grid-row .siimple-grid-col .statistic-label {
  text-align: left;
  font-size: 13;
  font-weight: bolder;
  position: relative;
  top: 0px;
  color: #546778;
}
.search-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}
.search-section .siimple-select {
  height: 40px;
  padding: 5;
}
.search-section .siimple-field {
  height: 40px;
  padding: 0;
}
.search-section .siimple-field .siimple-input {
  height: 40px;
  border: 1px solid #e0e0e0;
}
.search-section .siimple-btn {
  padding: 7px;
}

.latest-data-container {
  display: flex;
  justify-content: space-between;
}

.latest-cycles-container,
.latest-txs-container {
  box-shadow: 0px 1px 6px #e8e8e8;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  width: 49%;
}
.latest-cycles-container h4,
.latest-txs-container h4 {
  border-bottom: 1px solid #d4d1d1;
  padding: 10px;
  margin-top: 0px;
}
.latest-cycles-container .siimple-list-item,
.all-cycles-container .siimple-list-item {
  background: none;
  display: flex;
  justify-content: space-between;
}
.all-cycles-container {
  max-width: 900px;
  margin: 10px auto;
}
.latest-txs-container .siimple-list-item {
  background: none;
  font-size: 14px;
  /* font-family: 'Roboto Mono'; */
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.siimple-list-item:not(:last-child) {
  border-bottom: none;
}

/* CYCLE DETAIL PAGE */
.cycle-detail-table {
  font-size: 14px;
}
.partition-table-row {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.cycle-detail-title {
  display: flex;
  justify-content: space-between;
}

/* PARTITION PAGE */
.partition-table {
  font-size: 14px;
}

/* ALL Transactions page */
.all-tx-list-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bolder;
  border-bottom: 1px solid #cecece;
}
